* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 5% auto;
  margin: 0%;
  width: 100%;
  height: 100%;
  padding: 0em;
}

#navbar {
  background-color: rgba(255, 0, 0, 0.548);
}

#content {
  padding: 1em;
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15em;
  grid-template-rows: repeat(5, 19.3%);
  grid-gap: 0.4em;
  background-color: wheat;
}

.taskItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em repeat(3, 1fr);
  grid-row-gap: 0.1em;
  grid-template-areas:
    "btn1 btn2"
    "name name"
    "desc desc"
    "date date"
    "due due";
  border: solid 2px white;
  padding: 0.3em 0.5em 0em 0.5em;
  text-justify: distribute;
}

#amplifyBtn {
  grid-area: btn1;
  width: 2em;
  height: 2em;
  justify-self: left;
}

#deleteBtn{
  grid-area: btn2;
  background-color: red;
  width: 2em;
  height: 2em;
  justify-self: right;
}

.tName{
  grid-area: name;
}

.tDesc{
  grid-area: desc;
}

.tDate{
  grid-area: date;
}

.tDue{
  grid-area: due;
}

.popupBg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  justify-content: center;
  align-items: center;
}

.popup {
  display: inherit;
  background-color: black;
  color: white;
  height: 40em;
  width: 40em;
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  border: white solid 2px;
  padding: 1em;
}

.taskPopup {
  display: flex;
  flex-direction: column;
  height: 40em;
  width: 100%;
  border: none;
}