* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3em 1fr;
  margin: 0%;
  width: 100%;
  height: 100%;
  padding: 0em;
  overflow-y: hidden;
  background-color: wheat;
}

#navbar {
  position: fixed;
  top: 0px;
  color: white;
  background-color: rgb(68, 39, 75);
  border-radius: 0% 0% 10% 10%;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
  width: 100%;
  height: 0.02em;
  transition: 1s;
  opacity: 0.5;
}

#navbar:hover{
  height: 1em;
  opacity: 0.9;
}

button {
  color: inherit;
}

#content {
  grid-row: 2;
  padding: 1em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15em;
  grid-template-rows: repeat(5, 19.3%);
  grid-gap: 0.5em;
  background-color: wheat;
  background-size: cover
}

.taskItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em repeat(3, 1fr);
  grid-row-gap: 0.1em;
  text-justify: distribute;
  background-color: whitesmoke;
  border-radius: 5%;
  box-shadow: black 1px 1px 5px;
}

.tButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blueviolet;
  padding: 0em 1em 0em 1em;
  align-content: center;
  box-shadow: inset 0px 10px 10px rgba(55, 18, 90, 0.507),
    inset 0px -5px 10px rgba(255, 255, 255, 0.1);
}

#amplifyBtn {
  width: 2em;
  height: 2em;
  justify-self: left;
}

#deleteBtn {
  background-color: red;
  width: 2em;
  height: 2em;
  justify-self: right;
}

.tDate, .tDue, .tName, .tDesc {
  margin: 0.2em;
}

.popupBg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  justify-content: center;
  align-items: center;
}

.popup {
  display: inherit;
  background-color: whitesmoke;
  height: 40em;
  width: 40em;
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  border: solid purple 1em;
  border-radius: 5%;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
}

#displayDate{
  pointer-events: none;
  opacity: 0.5;
}

.taskPopup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 4em;
  height: 40em;
  width: 100%;
  box-shadow: none;
}

#closePopupBtn {
  justify-self: right;
  background-color: red;
  width: 2em;
  height: 2em;
}

.tButtonsPopup {
  background-color: whitesmoke;
  column-gap: 1em;
  box-shadow: none;
}

#deleteBtnPopup {
  background-color: red;
}

.search{
  display: flex;
  flex-direction: row;
}